<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
      <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.2/mapbox-gl.js'></script>
      <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.2/mapbox-gl.css' rel='stylesheet' />
  
      <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:45%; bottom:0; width:80%; }
      </style>
      


    <link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/starter-template/">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Oh, Deer!</a>
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Directions</a>
          </li>
        </ul>
    </nav>      <div class="jumbotron">


    <title>Oh, Deer! Input</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">

  </head>

  <body>


    
    </style>
    <h2 >Where and when are you traveling?</h2>
    
    <form action="{{ url_for('output') }}" method="GET">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="Origin">Origin</label>
            <input type="text" class="form-control" name="origin" value='Punxsutawney, PA'>
          </div>
          <div class="form-group col-md-4">
            <label for="Destination">Destination</label>
            <input type="text" class="form-control" name="destination" value='State College, PA'>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="Date">Date</label>
            <input type="text" class="form-control" name="date" value="9/26/2019">
          </div>
          <div class="form-group col-md-4">
            <label for="Time">Time</label>
            <input type="time" class="form-control" name="time" placeholder="Time">
          </div>
        </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>


    <div class="container">
        <div id='map' ></div>
    </div>


<!--Mapbox javascript-->
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoianNvbWEiLCJhIjoibFJmYl9JWSJ9.AUm8d76cbOvVEn2mMeG_ZA';
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/light-v10',
      center: [{{lat}}, {{lon}}],
      zoom: 6
    });
    map.on('load', function() {
      var geojsonData = {
        "type": "FeatureCollection",
        "features": [{
          "type": "Feature",
          "geometry": {
            "type": "Point",
            "coordinates": [{{lat}}, {{lon}}]
          }
        }]
      };
      map.addLayer({
        "id": "points",
        "type": "circle",
        "source": {
          "type": "geojson",
          "data": geojsonData
        },
        "paint": {
            "circle-radius": 5,
            "circle-color": "#ECCB2F",
            "circle-stroke-width": 1,
            "circle-stroke-color": "black"
        }
      })
    });

</script>



<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="static/js/bootstrap.min.js"></script>

  </body>
</html>